<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.protry.spring.demo1.dao.impl.InjectionDAOImpl" name="injectionDAO"/>

    <bean class="com.protry.spring.demo1.service.impl.InjectionServiceImpl" name="injectionService">
        <property name="injectionDAO" ref="injectionDAO"/>
    </bean>
</beans>